
DecisionTree==3.4.3
Flask==2.2.3
ipykernel @ file:///D:/bld/ipykernel_1666723449132/work
ipython @ file:///D:/bld/ipython_1651240762678/work
joblib==1.2.0
jupyter_client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1673615989977/work
jupyter_core @ file:///D:/bld/jupyter_core_1658332454038/work
numpy==1.21.6
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1681337016113/work
pandas==1.3.5
scikit-learn @ file:///C:/ci/scikit-learn_1642599122269/work
scikit-learn-intelex==2021.20221004.171341
streamlit==1.21.0
threadpoolctl==3.1.0
toml==0.10.2
toolz==0.12.0
tornado @ file:///D:/bld/tornado_1656937938087/work
typing_extensions==4.5.0
tzdata==2023.3
tzlocal==4.3
urllib3==1.26.15
validators==0.20.0
watchdog==3.0.0
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1673864653149/work
Werkzeug==2.2.3
wincertstore==0.2
zipp==3.15.0
